body{
    background-color: white;
    color: black;
    font-family: montserrat;
}

div.temp{
    background-color:linear-gradient(lightgrey,grey);
    color:white;
}

div.header{
    background-color:linear-gradient(grey,darkgrey);
    height: 50px;
    align: center;
}

tr.headercontents{
    color:white;
    width: 100px;
    align: center;
}

td.AboutLink{
    font-style:bolder;
}

a.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}