body{
    background:radial-gradient(grey,darkgrey);
    background-repeat: no-repeat;
    color: white;
    font-family: "montserrat";
}

.headercontents{
    width: 350px;
    padding:5em;
    text-align: center;
}

.AboutLink{
    font-style:bolder;
}

.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}

.ProjectTable{
    width: 200px;
    text-align: center;
}

.DescriptionRow{
    width: 200px;
    padding: 3em;
    text-align: center;
}

.Border{
    border-style:solid;
    border-radius: 5px;
    border-color:black;
    border-width:inherit;
    height: auto;
    display:block;
}

.BorderedTable{
    background-color: black;
}

.CyanTable{
    background-color:cyan;
}