body{
    background:linear-gradient(grey,darkgrey);
    background-repeat: no-repeat;
    color: white;
    font-family: montserrat;
}

div.header{
    height: 50px;
    align: center;
}

tr.headercontents{
    width: 100px;
    align: center;
}

td.AboutLink{
    font-style:bolder;
}

a.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}