body{
    background:radial-gradient(grey,darkgrey);
    background-repeat: no-repeat;
    color: white;
    font-family: "montserrat";
}

.header{
    height: 50px;
}

.headercontents{
    width: 350px;
    padding:10px;
    text-align: center;
}

.AboutLink{
    font-style:bolder;
}

.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}

.ProjectTable{
    width: 200px;
    text-align: center;
}

.DescriptionRow{
    width: 200px;
    padding: 3em;
    text-align: center;
}