body{
    background-color: white;
    color: black;
    font-family: montserrat;
}

div.temp{
    background-color:grey;
    color:white;
}

div.header{
    background-color:grey;
    height: 50px;
    align: center;
}

tr.headercontents{
    color:white;
    width: 100px;
    align: center;
}

td.AboutLink{
    font-style:bolder;
}