body{
    background:#202126;
    background-repeat: no-repeat;
    color: white;
    font-family: "montserrat";
}

.headercontents{
    width: 350px;
    padding:5em;
    text-align: center;
}

.AboutLink{
    font-style:bolder;
}

.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}

.ProjectTable{
    width: 200px;
    text-align: center;
}

.DescriptionRow{
    text-align: center;
}

.Border{
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.BorderedTable{
    background-color: black;
}

.CyanTable{
    background:cadetblue;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.header{
    background:cadetblue;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}