body{
    background-color: white;
    color: black;
    font-family: montserrat;
}

header{
    margin-top:2em;
    background-color:grey;
}

tr.headercontents{
    color:white;
    width: 100px;
    align-content: center;
}

td.AboutLink{
    font-style:bolder;
}