body{
    background:linear-gradient(grey,darkgrey);
    background-repeat: no-repeat;
    color: white;
    font-family: montserrat;
}

div.header{
    height: 50px;
    align: center;
}

tr.headercontents{
    width: 350px;
    padding:5px;
    align: center;
}

td.AboutLink{
    font-style:bolder;
}

a.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}

.ProjectTable{
    width: 200px;
    align-item: center;
}

.DescriptionRow{
    width: 200px;
    padding: 3em;
    align-items: center;
}