body{
    /*background:#202126;*/
    background:radial-gradient(#202126,#373D40,#4B5958);
    background-repeat: no-repeat;
    color: white;
    font-family: "montserrat";
}

.headercontents{
    width: 350px;
    padding:5em;
    text-align: center;
}

.AboutLink{
    font-weight: bolder;
    font-size:large;
}

.ClearWhiteAnchor{
    color:white;
    text-decoration: none;
}

.ProjectTable{
    width: 200px;
    text-align: center;
}

.DescriptionRow{
    text-align: center;
    padding:0px;
}

.Border{
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.BorderedTable{
    background-color: black;
}

.CyanTable{
    background:#045a8b;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.header{
    background:#045a8b;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
    height:3em;
    text-align:center;
    margin-top:-11px;
    margin-left:-4px;
    margin-right:-4px;
}

.headertable{
    height:inherit;
}

.Dropdown button{

    background:#045a8b;
    border:2px;
    border-style:solid;
    border-radius:5px;
    border-color:lightgray;
    cursor:pointer;
}

.Dropdown .Content{
    opacity: 0;
}

.Dropdown:hover .Content{
    opacity:1;
}
