body{
    /*background:#202126;*/
    background:radial-gradient(#202126,#373D40,#4B5958);
    background-repeat: no-repeat;
    color: white;
    font-family: "montserrat";
}

.headercontents{
    width: 350px;
    padding:5em;
    text-align: center;
}

.AboutLink{
    font-weight: bolder;
    font-size:large;
}

A.AboutLink:hover{
    font-size:larger;
    animation:NormalHover;
    animation-duration:0.25s;
    animation-fill-mode:forwards;
}

A.AboutLink:hover{
    font-size:large;
    animation:NormalHover;
    animation-duration:0.25s;
    animation-direction:reverse;
    animation-fill-mode:backwards;
}

.ClearWhiteAnchor{
    font-size:normal;
    color:white;
    text-decoration: none;
}

a.ClearWhiteAnchor:hover{
    font-size:larger;
    animation:LargeHover;
    animation-duration:0.25s;
    animation-fill-mode: forwards;
}

.ClearWhiteAnchor:not(:hover){
    font-size:normal;
    animation:LargeHover;
    animation-duration:0.25s;
    animation-direction:reverse;
    animation-fill-mode:backwards;
}

.HoverAnim:hover{
    font-size:normal;
    animation:NormalHover;
    animation-duration:0.25s;
    animation-fill-mode:forwards;
}

.HoverAnim:not(:hover){
    font-size:larger;
    animation:NormalHover;
    animation-duration:0.25s;
    animation-direction:reverse;
    animation-fill-mode:backwards;
}

.ImageHover:hover{
    transform:scale(1.1,1.1);
    animation:ImageHovering;
    animation-duration:0.25s;
}

.ImageHover:not(:hover){
    transform:scale(1,1);
    animation:ImageHovering;
    animation-duration:0.25s;
    animation-direction:reverse;
    animation-fill-mode:backwards;
}

@keyframes NormalHover{
    from{font-size:normal;}
    to{font-size:larger;}
}

@keyframes LargeHover{
    from{font-size:large;}
    to{font-size:larger;}
}

@keyframes ImageHovering{
    from{
        transform: scale(1,1);
    }

    to{
        transform:scale(1.1,1.1);
    }
}

.ProjectTable{
    width: 200px;
    text-align: center;
}

.DescriptionRow{
    text-align: center;
    padding:0px;
}

.Border{
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.Logo{
    width:175px;
    height:150px;
}

.ProjectPreview{
    width:500px;
    height:450px;
}

.BorderedTable{
    background-color: black;
}

.CyanTable{
    background:#045a8b;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
}

.header{
    background:#045a8b;
    border:2px;
    border-style:solid;
    border-radius: 5px;
    border-color:lightgray;
    height:3em;
    text-align:center;
    margin-top:-11px;
    margin-left:-4px;
    margin-right:-4px;
}

.headertable{
    height:inherit;
}

.content{
    background:rgba(4,90,139,1);
    border-style:solid;
    border:2px;
    border-radius:5px;
    border-color:lightgray;
    display:none;
    opacity:1;
}

.DropdownTitle{
    Color:white;
    background:#045a8b;
    width:35em;
    border-style:solid;
    border:2px;
    border-radius:5px;
    border-color:lightgray;
    cursor:pointer;
    font-weight: bolder;
    font-size:large;
    opacity:1;
}

.DropdownTitle:hover{
    animation:LargeHover;
    animation-duration:0.25s;
    animation-fill-mode:forwards;
}

.DropdownTtitle:not(:hover){
    animation:LargeHover;
    animation-duration:0,25s;
    animation-fill-mode:backwards;
    animation-direction:reverse;
}


.DropdownTable{
    margin-top:1em;
    padding:5px;
    border-style:solid;
    border:2px;
    border-radius:5px;
    border-color:lightgrey;
    background-color:rgba(152, 163, 173,0.5)
}

.DropdownImage{
    width:750px;
    height:250px;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius:5px;
}

.DropdownVideo{
    width:1000px;
    height:500px;
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius:5px;
}

.DropdownMargin{
    margin-top:0.5em;
    margin-bottom:0.5em;
    border-radius:5px;
}